@model socisaWeb.MesajView

<div style="border:solid 1px lightgray; padding:10px; background-color:#FAFAFA; margin:5px;" data-ng-init="@String.Format("model.MesajeJson = {0}; model.TipuriMesaj = {1};", Newtonsoft.Json.JsonConvert.SerializeObject(Model.MesajeJson), Newtonsoft.Json.JsonConvert.SerializeObject(Model.TipuriMesaj))">
    <div class="btn-toolbar">
        <div class="btn-group">
            <div class="btn-group">
                <a id="inboxLabel" href="#" class="btn btn-default btn-sm">{{inbox}}</a>
                <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" ng-click="GetMessages(ID_DOSAR)">Inbox</a></li>
                    <li><a href="#" ng-click="GetSentMessages(ID_DOSAR)">Sent</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-default btn-sm" ng-click="NewMessage()" a-disabled="ID_DOSAR == null && model.MesajJson.Mesaj.ID_DOSAR == null">Mesaj nou</a>
            <a href="#" class="btn btn-default btn-sm" a-disabled="model.MesajJson.Mesaj.ID == null" ng-click="Reply()">Raspunde</a>
            <a href="#" class="btn btn-default btn-sm" ng-click="GetMessages(ID_DOSAR)">Refresh {{newMessages}}</a>
        </div>
    </div>
    <div>
        <table>
            <tr>
                <td style="width:40px;">
                    <div ng-show="ID_DOSAR == null" class="docsRightMenuButton" ng-click="ToggleDiv('mainMesajeDashboard', false)">&#9668;</div>
                </td>
                <td style="vertical-align:middle;padding:5px;">
                    <h4 class="panel-title">Total mesaje: {{model.MesajeJson.length}}, din care mesaje noi {{(model.MesajeJson | filter:{'DataCitire':null}).length}}</h4>
                </td>
                <td style="vertical-align:middle;padding:5px;">
                    <select id="mesajeQueryMesaje" class="form-control input-sm" data-ng-model="queryMesaje" data-ng-change="applyFilter()">
                        <option value="1">Toate mesajele</option>
                        <option value="2">Mesaje CASCO</option>
                        <option value="3">Mesaje RCA</option>
                    </select>
                </td>
                <td style="padding:5px;">
                    <div class="input-group">
                        <span class="input-group-addon">Filtrare</span>
                        <input id="mesajeQueryTextMesaje" class="form-control input-sm" type="text" data-ng-model="queryTextMesaje.$">
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="treeview">
        <table id="messagesTable" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="width:300px;">
                        <a href="#" ng-click="sortBy('Mesaj.SUBIECT')">Subiect</a>
                        <span class="sortorder" ng-show="propertyName === 'Mesaj.SUBIECT'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th style="width:150px;" ng-if="ID_DOSAR == null">
                        <a href="#" ng-click="sortBy('Dosar.NR_DOSAR_CASCO')">Dosar CASCO</a>
                        <span class="sortorder" ng-show="propertyName === 'Dosar.NR_DOSAR_CASCO'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th style="width:200px;">
                        <a href="#" ng-click="sortBy('Sender.NUME_COMPLET')">De la</a>
                        <span class="sortorder" ng-show="propertyName === 'Sender.NUME_COMPLET'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th style="width:100px;">
                        <a href="#" ng-click="sortBy('TipMesaj.DENUMIRE')">Tip mesaj</a>
                        <span class="sortorder" ng-show="propertyName === 'TipMesaj.DENUMIRE'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <!--
                    <th>Catre</th>
                    -->
                    <th style="width:100px;">
                        <a href="#" ng-click="sortBy('Mesaj.DATA')">Data mesaj</a>
                        <span class="sortorder" ng-show="propertyName === 'Mesaj.DATA'" ng-class="{reverse: reverse}"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="{{ID_DOSAR == null ? 5 : 4}}">
                        <div style="width:100%; height:300px; overflow-y:auto;">
                            <table  class="table table-striped table-hover">
                                <tr ng-repeat="mesaj in model.MesajeJson | filter:filterByColumns | filter:applyFilter | orderBy:propertyName:reverse">
                                    <td style="width:300px;"><a href="#" ng-click="SelectMessage(mesaj)" style="font-weight:{{mesaj.DataCitire == null ? 'bold' : 'normal'}}">{{mesaj.Mesaj.SUBIECT}}</a></td>
                                    <td style="width:150px;" ng-if="ID_DOSAR == null"><a href="/Dosare/Index/{{mesaj.Dosar.ID}}" title="{{getDetaliiDosar(mesaj)}}">{{mesaj.Dosar.NR_DOSAR_CASCO}}</a></td>
                                    <td style="width:200px;">{{mesaj.Sender.NUME_COMPLET}} ({{mesaj.Sender.EMAIL}})</td>
                                    <td style="width:100px;">{{mesaj.TipMesaj.DENUMIRE}}</td>
                                    <td style="width:100px;">{{mesaj.Mesaj.DATA | dateFilter | date : DATE_TIME_FORMAT}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

    <div style="border:solid 1px lightgray; padding:10px; background-color:#FAFAFA; margin:5px;" ng-show="editMode > 0">
        <div ng-show="(result.Status == true || result.Status == false) && showMessage" ng-class="result.Status == false ? 'alert alert-danger' : 'alert alert-success'">
            <button type="button" class="close" ng-click="showMessage = false">&times;</button>
            <strong>{{result.Status ? 'Succes!' : 'Eroare!'}}</strong><br />
            <p ng-repeat="s in result.Message.split(';')">
                {{s}}
            </p>
        </div>
        <table class="table table-striped table-hover">
            <tr ng-show="false">
                <td style="width:60px; white-space:nowrap;">
                    @Html.HiddenFor(model => model.MesajJson.Mesaj.ID, new { data_ng_model = "model.MesajJson.Mesaj.ID" })
                    @Html.HiddenFor(model => model.MesajJson.Mesaj.ID_DOSAR, new { data_ng_model = "model.MesajJson.Mesaj.ID_DOSAR" })
                    @Html.Label("Catre: ", new { @class = "control-label" })
                </td>
                <td>
                    <div id="receivers" style="margin-right:5px;" dynamic2="html2" a-disabled="model.MesajJson.Mesaj.ID != null"></div>
                </td>
            </tr>
            <tr ng-show="false">
                <td style="width:60px; white-space:nowrap;">

                </td>
                <td>
                    @Html.DropDownList("Catre", new SelectList(Model.InvolvedParties, "ID", "NUME_COMPLET"), new { @id = "select_involvedParties", @class = "form-control input-sm", data_ng_disabled = "model.MesajJson.Mesaj.ID != null", data_ng_model = "involvedParty", data_ng_change = "AddReceiver()", data_ng_init = String.Format("model.InvolvedParties = {0}", Newtonsoft.Json.JsonConvert.SerializeObject(Model.InvolvedParties)) })
                </td>
            </tr>
            <tr>
                <td style="width:60px; white-space:nowrap;">
                    @Html.Label("Tip mesaj: ", new { @class = "control-label" })
                </td>
                <td>
                    <!--
                    @Html.DropDownList("TipMesaj", new SelectList(Model.TipuriMesaj, "ID", "DENUMIRE"), new { @id = "select_TipuriMesaj", @class = "form-control input-sm", data_ng_disabled = "model.MesajJson.Mesaj.ID != null", data_ng_model = "tipMesaj", data_ng_init = String.Format("model.TipuriMesaj = {0}", Newtonsoft.Json.JsonConvert.SerializeObject(Model.TipuriMesaj)) })
                    -->
                    <select class = "form-control input-sm" name="select_TipuriMesaj" id="select_TipuriMesaj" ng-model="tipMesaj" ng-disabled="true">
                        <option ng-repeat="tMesaj in model.TipuriMesaj" value="{{tMesaj.ID}}">{{tMesaj.DENUMIRE}}</option>
                    </select>
                    @Html.HiddenFor(model => model.MesajJson.Mesaj.ID_TIP_MESAJ, new { data_ng_model = "model.MesajJson.Mesaj.ID_TIP_MESAJ" })
                </td>
            </tr>
            <tr>
                <td style="width:60px; white-space:nowrap;">
                    @Html.Label("Subiect: ", new { @class = "control-label" })
                </td>
                <td>
                    @Html.EditorFor(model => model.MesajJson.Mesaj.SUBIECT, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "model.MesajJson.Mesaj.SUBIECT", data_ng_disabled = "model.MesajJson.Mesaj.ID != null" } })
                </td>
            </tr>
            <tr>
                <td style="width:60px; white-space:nowrap;">
                </td>
                <td>
                    @Html.TextAreaFor(model => model.MesajJson.Mesaj.BODY, new { @class = "form-control input-sm", data_ng_disabled = "model.MesajJson.Mesaj.ID != null", data_ng_model = "model.MesajJson.Mesaj.BODY" })
                </td>
            </tr>
            <tr>
                <td style="width:60px; white-space:nowrap;">
                    <!--
                    <div class="btn-toolbar">
                        <a href="/Dosare/Index/{{model.MesajJson.Mesaj.ID_DOSAR}}" class="btn btn-info btn-sm">Dosar</a>
                    </div>
                    -->
                </td>
                <td>
                    <div class="btn-toolbar"  ng-if="model.MesajJson.Mesaj.ID == null">
                        <a href="#" class="btn btn-primary btn-sm" ng-click="SendMessage()">Trimite</a>
                        <a href="#" class="btn btn-default btn-sm" ng-click="CancelMessage()">Renunta</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>





