@using socisaWeb.Helpers
@model socisaWeb.DocumentView
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table style="width:100%;height:100%;">
        <tr>
            <td>
                <div class="lista_documente" data-ng-init="@String.Format("model.TipuriDocumente = {0}", Newtonsoft.Json.JsonConvert.SerializeObject( Model.TipuriDocumente))">
                    <ul class="list-group">
                        <li ng-repeat="tipDoc in model.TipuriDocumente" ng-class="curDocumentIndex == -1 || model.TipuriDocumente[curDocumentIndex].TipDocument.ID != tipDoc.TipDocument.ID ? 'list-group-item' : 'list-group-item active'" ng-click="showDocumentByIndex($index)">
                            <span ng-if="showMandatory(tipDoc)" style="font-weight:bold;color:red;">!</span>&nbsp;{{tipDoc.TipDocument.DENUMIRE}}
                            <span ng-if="areDocumentAvizat(tipDoc.TipDocument.ID) > 0" class="badge" style="background-color:{{areDocumentAvizat(tipDoc.TipDocument.ID) == 2 ? 'darkseagreen':'pink'}};">
                                <input ng-disabled="true" type="checkbox" ng-model="areDocumentAvizat(tipDoc.TipDocument.ID) == 2 ? true : false" />
                            </span>
                        </li>
                    </ul>
                </div>
            </td>
            <td>
                <div class="main_documente" ng-show="curDocumentIndex > -1">
                    <div id="resultMessageBox" ng-show="(result.Status == true || result.Status == false) && showMessage" ng-class="result.Status == false ? 'alert alert-danger' : 'alert alert-success'">
                        <button type="button" class="close" ng-click="showMessage = false">&times;</button>
                        <strong>{{result.Status ? 'Succes!' : 'Eroare!'}}</strong><br />
                        <p ng-repeat="s in result.Message.split(';')">
                            {{s}}
                        </p>
                    </div>
                    <table style="width:100%;">
                        <tr>
                            <td style="height:460px;text-align:center;vertical-align:middle;padding:10px;">
                                <span ng-if="model.CurDocumentScanat.VIZA_CASCO" style="color:#8FB78D;">&#9745; Documentul este inclus in dosar si este avizat</span><br /><br />
                                <img ng-if="model.CurDocumentScanat.MEDIUM_ICON != null" ng-src="data:image/JPEG;base64,{{model.CurDocumentScanat.MEDIUM_ICON | bytetobase}}" width="300" height="420"><br />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center;">
                                <div id="thumbScroller">
                                    <!--
                                    <ul class="pagination pagination-sm">
                                        <li><a href="#">&laquo;</a></li>
                                        <li ng-repeat="documentScanat in model.TipuriDocumente[curDocumentIndex].DocumenteScanate" class={{model.TipuriDocumente[curDocumentIndex].DocumenteScanate[$index].ID == documentScanat.ID ? 'active' : ''}}>
                                            <a href="#">
                                                <img ng-src="data:image/JPEG;base64,{{documentScanat.SMALL_ICON | bytetobase}}" width="100" height="130" ng-click="SetCurDocument(documentScanat, $index)" />
                                                <input type="checkbox" class="checkOverImage" />
                                            </a>
                                        </li>
                                        <li><a href="#">&raquo;</a></li>
                                    </ul>
                                    -->
                                    <div id="thumbScrollerContent" style="width:{{model.TipuriDocumente[curDocumentIndex].DocumenteScanate.length * 137}}px;">
                                        <div id="thumbScrollerThumb" ng-repeat="documentScanat in model.TipuriDocumente[curDocumentIndex].DocumenteScanate">
                                            <img ng-src="data:image/JPEG;base64,{{documentScanat.SMALL_ICON | bytetobase}}" width="100" height="130" ng-click="SetCurDocument(documentScanat, $index)" />
                                            <input id="chk_{{documentScanat.ID}}" type="checkbox" class="checkOverImage" title="Selecteaza/Deselecteaza pentru avizare" />
                                            <div ng-if="documentScanat.VIZA_CASCO" class="checkOverImageBadge" title="Documentul este inclus in dosar si este avizat">&#9745;</div>
                                        </div>
                                    </div>
                                </div>
                                <input type="checkbox" title="Selecteaza/Deselecteaza toate" onchange="toggleAllThumbs(this)" checked="false" />
                            </td>
                        </tr>
                        <tr>
                            <td style="height:240px;">
                                <div class="btn-group btn-group-justified">
                                    @Html.Label("Incarcare fisier(e)", new { @class = "btn btn-default", data_ng_if = "calitateSocietateCurenta == 'CASCO'", title = "Ataseaza document scanat la dosar", onclick = "toggleDivs('incarcareFisiere')" }).HasRight("adaugare")
                                    @Html.Label("Detalii", new { @class = "btn btn-default", title = "Adauga/Modifica detalii la documentul scanat", onclick = "toggleDivs('detaliiDocument')", a_disabled = "model.CurDocumentScanat == null || model.CurDocumentScanat.ID == null" }).HasRight("vizualizare")
                                    @Html.Label("Avizare", new { @class = "btn btn-default", data_ng_if = "calitateSocietateCurenta == 'CASCO'", title = "Adauga documentul scanat in dosar (Avizare)", onclick = "toggleDivs('null')", a_disabled = "model.CurDocumentScanat == null || model.CurDocumentScanat.ID == null", ng_click = "AvizareDocument(true)" }).HasRight("avizare dosar")
                                    @Html.Label("Excludere", new { @class = "btn btn-default", data_ng_if = "calitateSocietateCurenta == 'CASCO'", title = "Exclude documentul scanat din dosar (Anulare Avizare)", onclick = "toggleDivs('null')", a_disabled = "model.CurDocumentScanat == null || model.CurDocumentScanat.ID == null", ng_click = "AvizareDocument(false)" }).HasRight("avizare dosar")
                                    @Html.Label("Stergere", new { @class = "btn btn-default", data_ng_if = "calitateSocietateCurenta == 'CASCO'", title = "Elimina documentul scanat din dosar", onclick = "toggleDivs('null')", a_disabled = "model.CurDocumentScanat == null || model.CurDocumentScanat.ID == null", ng_click = "deleteDoc()" }).HasRight("stergere")
                                    @Html.Label("Vizualizare", new { @class = "btn btn-default", title = "Deschide documentul intr-o fereastra noua", onclick = "toggleDivs('null')", a_disabled = "model.CurDocumentScanat == null || model.CurDocumentScanat.ID == null", ng_click = "vizualizareDoc()" }).HasRight("vizualizare")

                                    <!---
                                    <a href="#" title="Ataseaza document scanat la dosar" class="btn btn-default" onclick="toggleDivs('incarcareFisiere')">Incarcare fisier(e)</a>
                                    <a href="#" title="Adauga detalii la documentul scanat" ng-disabled="model.CurDocumentScanat == null || model.CurDocumentScanat.ID == null" class="btn btn-default" onclick="toggleDivs('detaliiDocument')">Detalii</a>
                                    <a href="#" title="Adauga documentul scanat in dosar (Avizare)" ng-disabled="model.CurDocumentScanat == null || model.CurDocumentScanat.ID == null" class="btn btn-default" ng-click="AvizareDocument(true)" onclick="toggleDivs('null')">Avizare</a>
                                    <a href="#" title="Exclude documentul scanat din dosar (Anulare Avizare)" ng-disabled="model.CurDocumentScanat == null || model.CurDocumentScanat.ID == null" class="btn btn-default" ng-click="AvizareDocument(false)" onclick="toggleDivs('null')">Excludere</a>
                                    <a href="#" title="Elimina documentul scanat din dosar" ng-disabled="model.CurDocumentScanat == null || model.CurDocumentScanat.ID == null"  class="btn btn-default" ng-click="deleteDoc()" onclick="toggleDivs('null')">Stergere</a>
                                    <a href="scans/{{model.CurDocumentScanat.CALE_FISIER}}" title="Deschide documentul intr-o fereastra noua" ng-disabled="model.CurDocumentScanat == null || model.CurDocumentScanat.ID == null"  class="btn btn-default" target="_blank" onclick="toggleDivs('null')">Vizualizare</a>
                                    -->
                                </div>

                                <div id="detaliiDocument" style="border:1px solid lightgray;border-radius: 4px; padding:10px;display:none; margin-top:5px;">
                                    @Html.LabelFor(model => model.CurDocumentScanat.DETALII, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.CurDocumentScanat.DETALII, new { @class = "form-control input-sm", @style = "width:100%", data_ng_model = "model.CurDocumentScanat.DETALII" })
                                    @Html.ValidationMessageFor(model => model.CurDocumentScanat.DETALII, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.ID_DOSAR, new { data_ng_model = "ID_DOSAR" })
                                    @Html.HiddenFor(model => model.CurDocumentScanat.CALE_FISIER, new { data_ng_model = "model.CurDocumentScanat.CALE_FISIER" })
                                    @Html.HiddenFor(model => model.CurDocumentScanat.DATA_INCARCARE, new { data_ng_model = "model.CurDocumentScanat.DATA_INCARCARE" })
                                    @Html.HiddenFor(model => model.CurDocumentScanat.DENUMIRE_FISIER, new { data_ng_model = "model.CurDocumentScanat.CALE_FDENUMIRE_FISIERISIER" })
                                    @Html.HiddenFor(model => model.CurDocumentScanat.DIMENSIUNE_FISIER, new { data_ng_model = "model.CurDocumentScanat.DIMENSIUNE_FISIER" })
                                    @Html.HiddenFor(model => model.CurDocumentScanat.EXTENSIE_FISIER, new { data_ng_model = "model.CurDocumentScanat.EXTENSIE_FISIER" })
                                    @Html.HiddenFor(model => model.CurDocumentScanat.SMALL_ICON, new { data_ng_model = "model.CurDocumentScanat.SMALL_ICON" })
                                    <br />
                                    @Html.Label("Salvare", new { @class = "btn btn-default", data_ng_if = "calitateSocietateCurenta == 'CASCO'", title = "Salvare detalii", a_disabled = "model.CurDocumentScanat == null || model.CurDocumentScanat.ID == null", ng_click = "SaveEdit(null)" }).HasRight("editare")
                                    <!--
                                    <a href="#" ng-disabled="model.CurDocumentScanat == null || model.CurDocumentScanat.ID == null" class="btn btn-default" ng-click="SaveEdit(null)">Salvare</a>
                                    -->
                                </div>

                                <div ng-if = "calitateSocietateCurenta == 'CASCO'" id="incarcareFisiere" style="border:1px solid lightgray;border-radius: 4px; padding:10px;display:none; margin-top:5px;">
                                    <div class="btn btn-primary" ngf-accept="'image/jpeg,image/png,image/bmp,application/pdf'" ngf-max-size="'20MB'" ngf-select="uploadFiles($files)" multiple="multiple" ng-show="curDocumentIndex > -1">Incarca fisier(e)...</div>
                                    <br />
                                    <div ngf-drop="uploadFiles($files)" class="drop-box"
                                         ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-accept="'image/jpeg,image/png,image/bmp,application/pdf'"  ngf-max-size="'20MB'"
                                         ngf-pattern="'image/*.jpg,image/*.jpeg,image/*.png,image/*.bmp,application/pdf'">... sau Drag&Drop imagine sau fisier PDF aici</div>
                                    <div ngf-no-file-drop>Functionalitatea Drag&Drop nu este suportata de browserul dumneavoastra</div>
                                    <p>Sunt admise doar fisiere .jpg, .jpeg, .png, .bmp si .pdf cu dimensiunea maxima de 20Mb!</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
}

<script type="text/ng-template" id="dialog">
    <div id="modal" class="modal" style="width:100%;height:100%;display:table;">
        <div class="modal-dialog" style="display:table-cell;vertical-align:middle;">
            <div class="modal-content" style="margin-left:auto;margin-right:auto;width:500px;">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" ng-click="closeThisDialog(0)">&times;</button>
                    <h4 class="modal-title">Confirmare stergere</h4>
                </div>
                <div class="modal-body">
                    <p>Confirmati stergerea?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="closeThisDialog(0)">Nu</button>
                    <button type="button" class="btn btn-primary" ng-click="confirm(1)">Da</button>
                </div>
            </div>
        </div>
    </div>
</script>
