@using socisaWeb.Helpers
@model socisaWeb.DosarView
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Lista dosare -->
    <div id="dosareSideNav" style="width:0px;height:0px;overflow-y:auto;position:absolute;top:0px;left:0px;margin:5px;border-right:1px solid black;background-color:#111;opacity:0.9;filter:alpha(opacity=90);z-index:3;transition: 0.5s;">
        <table style="width:95%;padding:5px;margin:5px;">
            <tr style="border-bottom:1px solid white;">
                <td style="padding:5px;">Lista dosare:</td>
                <td style="padding:5px;text-align:right"><a href="#" onclick="showDosareSideNav(false)">X</a></td>
            </tr>
            <tr ng-show="DosarFiltru.DosareResult == null || compareObjects(DosarFiltru.DosareResult, {})">
                <td colspan="2" style="padding:5px;">
                    Nu sunt dosare filtrate
                </td>
            </tr>
            <tr ng-repeat="dosar in DosarFiltru.DosareResult">
                <td ng-show="$index == curDosarIndex" colspan="2" style="padding:5px;color:red;font-weight:bold;">
                    Numar Dosar CASCO: <a href="#" ng-click="ShowDosar($index);">{{dosar.NR_DOSAR_CASCO}}</a><br />
                    Numar SCA: <b>{{dosar.NR_SCA}} / {{dosar.DATA_SCA | dateFilter | date : DATE_FORMAT}}</b>
                </td>
                <td ng-show="$index != curDosarIndex" colspan="2" style="padding:5px;">
                    Numar Dosar CASCO: <a href="#" ng-click="ShowDosar($index);">{{dosar.NR_DOSAR_CASCO}}</a><br />
                    Numar SCA: <b>{{dosar.NR_SCA}} / {{dosar.DATA_SCA | dateFilter | date : DATE_FORMAT}}</b>
                </td>
            </tr>
        </table>
    </div>
    <!-- end lista dosare -->
    <div id="DosareSearch" style="left:220px;top:0px;margin-top:8px;" data-ng-init="@String.Format("calitateSocietateCurenta = '{0}'", Session["ID_SOCIETATE"] == null ? "" : ((Model.Dosar.ID_SOCIETATE_CASCO != null && Convert.ToInt32(Model.Dosar.ID_SOCIETATE_CASCO) == Convert.ToInt32(Session["ID_SOCIETATE"])) ? "CASCO" : "RCA"))" >
        <div ng-show="(result.Status == true || result.Status == false) && showMessage" ng-class="result.Status == false ? 'alert alert-danger' : 'alert alert-success'">
            <button type="button" class="close" ng-click="showMessage = false">&times;</button>
            <strong>{{result.Status ? 'Succes!' : 'Eroare!'}}</strong><br /> 
            <p ng-repeat="s in result.Message.split(';')">
                {{s}}
            </p>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table style="width:100%;border-width:0px; margin:10px;padding:10px;">
            <tr>
                <td style="width:25%;">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.NR_DOSAR_CASCO, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Dosar.NR_DOSAR_CASCO, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_focus="SwitchBackToSearchMode()", data_ng_keyup="Afisare($event.target.value, $event)", data_ng_model = "DosarFiltru.Dosar.NR_DOSAR_CASCO", data_ng_init = string.Format("DosarFiltru.Dosar.NR_DOSAR_CASCO = '{0}'", Model.Dosar.NR_DOSAR_CASCO) } })
                        @Html.ValidationMessageFor(model => model.Dosar.NR_DOSAR_CASCO, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td style="width:25%;">
                    <div class="form-group">
                        <table>
                            <tr ng-show="searchMode == 2">
                                <td class="toToDates">
                                    @Html.LabelFor(model => model.dosarJson.DataEvenimentStart, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.dosarJson.DataEvenimentStart, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;re", data_ng_model = "DosarFiltru.dosarJson.DataEvenimentStart", data_ng_init = string.Format("DosarFiltru.dosarJson.DataEvenimentStart = '{0}'", Model.dosarJson.DataEvenimentStart), jqdatepicker = "" })
                                    </div>
                                </td>
                                <td>
                                    @Html.LabelFor(model => model.dosarJson.DataEvenimentEnd, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.dosarJson.DataEvenimentEnd, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.dosarJson.DataEvenimentEnd", data_ng_init = string.Format("DosarFiltru.dosarJson.DataEvenimentEnd = '{0}'", Model.dosarJson.DataEvenimentEnd), jqdatepicker = "" })
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="searchMode == 1 || editMode == 1">
                                <td colspan="2" style="text-align:center;white-space:nowrap;padding-top:5px;">
                                    @Html.ValidationMessageFor(model => model.Dosar.DATA_EVENIMENT, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.Dosar.DATA_EVENIMENT, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.Dosar.DATA_EVENIMENT, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.Dosar.DATA_EVENIMENT", data_ng_init = Model.Dosar.DATA_EVENIMENT == null ? "" : String.Format("DosarFiltru.Dosar.DATA_EVENIMENT = '{0}'", Convert.ToDateTime(Model.Dosar.DATA_EVENIMENT).UnixTicks()), jqdatepicker = "" })
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td style="width:25%;">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.NR_SCA, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Dosar.NR_SCA, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_focus = "SwitchBackToSearchMode()", data_ng_model = "DosarFiltru.Dosar.NR_SCA", data_ng_init = string.Format("DosarFiltru.Dosar.NR_SCA = '{0}'", Model.Dosar.NR_SCA), data_ng_keyup = "Afisare($event.target.value, $event)" } })
                        @Html.ValidationMessageFor(model => model.Dosar.NR_SCA, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td style="width:25%;">
                    <div class="form-group">
                        <table>
                            <tr ng-show="searchMode == 2">
                                <td class="toToDates">
                                    @Html.LabelFor(model => model.dosarJson.DataScaStart, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.dosarJson.DataScaStart, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.dosarJson.DataScaStart", data_ng_init = string.Format("DosarFiltru.dosarJson.DataScaStart = '{0}'", Model.dosarJson.DataScaStart), jqdatepicker = "" })
                                    </div>
                                </td>
                                <td>
                                    @Html.LabelFor(model => model.dosarJson.DataScaEnd, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.dosarJson.DataScaEnd, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.dosarJson.DataScaEnd", data_ng_init = string.Format("DosarFiltru.dosarJson.DataScaEnd = '{0}'", Model.dosarJson.DataScaEnd), jqdatepicker = "" })
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="searchMode == 1 || editMode == 1">
                                <td colspan="2" style="text-align:center;white-space:nowrap;padding-top:5px;">
                                    @Html.ValidationMessageFor(model => model.Dosar.DATA_SCA, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.Dosar.DATA_SCA, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.Dosar.DATA_SCA, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.Dosar.DATA_SCA", data_ng_init = Model.Dosar.DATA_SCA == null ? "" : String.Format("DosarFiltru.Dosar.DATA_SCA = '{0}'", Convert.ToDateTime(Model.Dosar.DATA_SCA).UnixTicks()), jqdatepicker = "" })
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.ID_SOCIETATE_CASCO, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.Dosar.ID_SOCIETATE_CASCO, new SelectList(Model.SocietatiCASCO, "ID", "DENUMIRE", Model.Dosar.ID_SOCIETATE_CASCO), "", new { @class = "form-control input-sm", @disabled = "disabled", data_ng_click = "Interactive=true;", data_ng_model="ID_SOCIETATE_CASCO", data_ng_init = String.Format("DosarFiltru.SocietatiCASCO = {0}", Newtonsoft.Json.JsonConvert.SerializeObject(Model.SocietatiCASCO)) })
                        @Html.HiddenFor(model => model.Dosar.ID_SOCIETATE_CASCO, new { @id = "Hidden_Dosar_ID_SOCIETATE_CASCO", data_ng_model = "DosarFiltru.Dosar.ID_SOCIETATE_CASCO", data_ng_init = string.Format("DosarFiltru.Dosar.ID_SOCIETATE_CASCO = '{0}'; IDSocietateRep='{0}'; ID_SOCIETATE_CASCO = '{0}';", Model.Dosar.ID_SOCIETATE_CASCO) })
                        @Html.ValidationMessageFor(model => model.Dosar.ID_SOCIETATE_CASCO, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.ID_ASIGURAT_CASCO, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.dosarJson.NumeAsiguratCasco, new { @class = "form-control input-sm", data_ng_focus = "SwitchBackToSearchMode()", data_ng_keyup = "Afisare($event.target.value, $event)", data_ng_model = "DosarFiltru.dosarJson.NumeAsiguratCasco", data_ng_init = string.Format("DosarFiltru.dosarJson.NumeAsiguratCasco = '{0}'", Model.dosarJson.NumeAsiguratCasco) })
                        @Html.HiddenFor(model => model.Dosar.ID_ASIGURAT_CASCO, new { data_ng_model = "DosarFiltru.Dosar.ID_ASIGURAT_CASCO", data_ng_init = string.Format("DosarFiltru.Dosar.ID_ASIGURAT_CASCO = '{0}'", Model.Dosar.ID_ASIGURAT_CASCO) })
                        @Html.ValidationMessageFor(model => model.Dosar.ID_ASIGURAT_CASCO, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.ID_SOCIETATE_RCA, htmlAttributes: new { @class = "control-label" })
                        @Html.HiddenFor(model => model.Dosar.ID_SOCIETATE_RCA, new { @id = "Hidden_Dosar_ID_SOCIETATE_RCA", data_ng_model = "DosarFiltru.Dosar.ID_SOCIETATE_RCA", data_ng_init = string.Format("DosarFiltru.Dosar.ID_SOCIETATE_RCA = '{0}'; ID_SOCIETATE_RCA = '{0}';", Model.Dosar.ID_SOCIETATE_RCA) })
                        @Html.DropDownListFor(model => model.Dosar.ID_SOCIETATE_RCA, new SelectList(Model.SocietatiRCA, "ID", "DENUMIRE"), "", new { @class = "form-control input-sm", @disabled = "disabled", data_ng_click = "Interactive=true;", data_ng_model="ID_SOCIETATE_RCA", data_ng_init=String.Format("DosarFiltru.SocietatiRCA = {0}", Newtonsoft.Json.JsonConvert.SerializeObject(Model.SocietatiRCA)) })
                        @Html.ValidationMessageFor(model => model.Dosar.ID_SOCIETATE_RCA, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.ID_ASIGURAT_RCA, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.dosarJson.NumeAsiguratRca, new { @class = "form-control input-sm", data_ng_focus = "SwitchBackToSearchMode()", data_ng_keyup = "Afisare($event.target.value, $event)", data_ng_model = "DosarFiltru.dosarJson.NumeAsiguratRca", data_ng_init = string.Format("DosarFiltru.dosarJson.NumeAsiguratRca = '{0}'", Model.dosarJson.NumeAsiguratRca) })
                        @Html.HiddenFor(model => model.Dosar.ID_ASIGURAT_RCA, new { data_ng_model = "DosarFiltru.Dosar.ID_ASIGURAT_RCA", data_ng_init = string.Format("DosarFiltru.Dosar.ID_ASIGURAT_RCA = '{0}'", Model.Dosar.ID_ASIGURAT_RCA) })
                        @Html.ValidationMessageFor(model => model.Dosar.ID_ASIGURAT_RCA, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.NR_POLITA_CASCO, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Dosar.NR_POLITA_CASCO, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_focus = "SwitchBackToSearchMode()", data_ng_keyup = "Afisare($event.target.value, $event)", data_ng_model = "DosarFiltru.Dosar.NR_POLITA_CASCO", data_ng_init = string.Format("DosarFiltru.Dosar.NR_POLITA_CASCO = '{0}'", Model.Dosar.NR_POLITA_CASCO) } })
                        @Html.ValidationMessageFor(model => model.Dosar.NR_POLITA_CASCO, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.ID_AUTO_CASCO, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.dosarJson.NumarAutoCasco, new { @class = "form-control input-sm", data_ng_focus = "SwitchBackToSearchMode()", data_ng_keyup = "Afisare($event.target.value, $event)", data_ng_model = "DosarFiltru.dosarJson.NumarAutoCasco", data_ng_init = string.Format("DosarFiltru.dosarJson.NumarAutoCasco = '{0}'", Model.dosarJson.NumarAutoCasco) })
                        @Html.HiddenFor(model => model.Dosar.ID_AUTO_CASCO, new { data_ng_model = "DosarFiltru.Dosar.ID_AUTO_CASCO", data_ng_init = string.Format("DosarFiltru.Dosar.ID_AUTO_CASCO = '{0}'", Model.Dosar.ID_AUTO_CASCO) })
                        @Html.ValidationMessageFor(model => model.Dosar.ID_AUTO_CASCO, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.NR_POLITA_RCA, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Dosar.NR_POLITA_RCA, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_focus = "SwitchBackToSearchMode()", data_ng_keyup = "Afisare($event.target.value, $event)", data_ng_model = "DosarFiltru.Dosar.NR_POLITA_RCA", data_ng_init = string.Format("DosarFiltru.Dosar.NR_POLITA_RCA = '{0}'", Model.Dosar.NR_POLITA_RCA) } })
                        @Html.ValidationMessageFor(model => model.Dosar.NR_POLITA_RCA, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.ID_AUTO_RCA, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.dosarJson.NumarAutoRca, new { @class = "form-control input-sm", data_ng_focus = "SwitchBackToSearchMode()", data_ng_keyup = "Afisare($event.target.value, $event)", data_ng_model = "DosarFiltru.dosarJson.NumarAutoRca", data_ng_init = string.Format("DosarFiltru.dosarJson.NumarAutoRca = '{0}'", Model.dosarJson.NumarAutoRca) })
                        @Html.HiddenFor(model => model.Dosar.ID_AUTO_RCA, new { data_ng_model = "DosarFiltru.Dosar.ID_AUTO_RCA", data_ng_init = string.Format("DosarFiltru.Dosar.ID_AUTO_RCA = '{0}'", Model.Dosar.ID_AUTO_RCA) })
                        @Html.ValidationMessageFor(model => model.Dosar.ID_AUTO_RCA, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.VALOARE_DAUNA, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Dosar.VALOARE_DAUNA, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_focus = "SwitchBackToSearchMode()", data_ng_keyup = "Afisare($event.target.value, $event)", data_ng_model = "DosarFiltru.Dosar.VALOARE_DAUNA", data_ng_init = string.Format("DosarFiltru.Dosar.VALOARE_DAUNA = '{0}'", Model.Dosar.VALOARE_DAUNA) } })
                        @Html.ValidationMessageFor(model => model.Dosar.VALOARE_DAUNA, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.VALOARE_REGRES, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Dosar.VALOARE_REGRES, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_focus = "SwitchBackToSearchMode()", data_ng_keyup = "Afisare($event.target.value, $event)", data_ng_model = "DosarFiltru.Dosar.VALOARE_REGRES", data_ng_init = string.Format("DosarFiltru.Dosar.VALOARE_REGRES = '{0}'", Model.Dosar.VALOARE_REGRES) } })
                        @Html.ValidationMessageFor(model => model.Dosar.VALOARE_REGRES, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.VMD, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Dosar.VMD, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_focus = "SwitchBackToSearchMode()", data_ng_keyup = "Afisare($event.target.value, $event)", data_ng_model = "DosarFiltru.Dosar.VMD", data_ng_init = string.Format("DosarFiltru.Dosar.VMD = '{0}'", Model.Dosar.VMD) } })
                        @Html.ValidationMessageFor(model => model.Dosar.VMD, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.REZERVA_DAUNA, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Dosar.REZERVA_DAUNA, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_focus = "SwitchBackToSearchMode()", data_ng_keyup = "Afisare($event.target.value, $event)", data_ng_model = "DosarFiltru.Dosar.REZERVA_DAUNA", data_ng_init = string.Format("DosarFiltru.Dosar.REZERVA_DAUNA = '{0}'", Model.Dosar.REZERVA_DAUNA) } })
                        @Html.ValidationMessageFor(model => model.Dosar.REZERVA_DAUNA, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.SUMA_IBNR, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Dosar.SUMA_IBNR, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_focus = "SwitchBackToSearchMode()", data_ng_keyup = "Afisare($event.target.value, $event)", data_ng_model = "DosarFiltru.Dosar.SUMA_IBNR", data_ng_init = string.Format("DosarFiltru.Dosar.SUMA_IBNR = '{0}'", Model.Dosar.SUMA_IBNR) } })
                        @Html.ValidationMessageFor(model => model.Dosar.SUMA_IBNR, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.CAZ, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.Dosar.CAZ, new SelectList(Model.TipuriCaz, "DENUMIRE", "DENUMIRE"), "", new { @class = "form-control input-sm", @disabled = "disabled", data_ng_click = "Interactive=true;", data_ng_model = "TIP_CAZ", data_ng_init = String.Format("DosarFiltru.TipuriCaz = {0}", Newtonsoft.Json.JsonConvert.SerializeObject(Model.TipuriCaz)) })
                        @Html.HiddenFor(model => model.Dosar.CAZ, new { @id = "Hidden_Dosar_CAZ", data_ng_model = "DosarFiltru.Dosar.CAZ", data_ng_init = string.Format("DosarFiltru.Dosar.CAZ = '{0}'; TIP_CAZ = '{0}';", Model.Dosar.CAZ) })
                        @Html.ValidationMessageFor(model => model.Dosar.CAZ, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.ID_INTERVENIENT, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.dosarJson.NumeIntervenient, new { @class = "form-control input-sm", data_ng_focus = "SwitchBackToSearchMode()", data_ng_keyup = "Afisare($event.target.value, $event)", data_ng_model = "DosarFiltru.dosarJson.NumeIntervenient", data_ng_init = string.Format("DosarFiltru.dosarJson.NumeIntervenient = '{0}'", Model.dosarJson.NumeIntervenient) })
                        @Html.HiddenFor(model => model.Dosar.ID_INTERVENIENT, new { data_ng_model = "DosarFiltru.Dosar.ID_INTERVENIENT", data_ng_init = string.Format("DosarFiltru.Dosar.ID_INTERVENIENT = '{0}'", Model.Dosar.ID_INTERVENIENT) })
                        @Html.ValidationMessageFor(model => model.Dosar.ID_INTERVENIENT, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.ID_TIP_DOSAR, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.Dosar.ID_TIP_DOSAR, new SelectList(Model.TipuriDosar, "ID", "DENUMIRE"), "", new { @class = "form-control input-sm", @disabled = "disabled", data_ng_click = "Interactive=true;", data_ng_model = "ID_TIP_DOSAR", data_ng_init = String.Format("DosarFiltru.TipuriDosar = {0}", Newtonsoft.Json.JsonConvert.SerializeObject(Model.TipuriDosar)) })
                        @Html.HiddenFor(model => model.Dosar.ID_TIP_DOSAR, new { @id = "Hidden_Dosar_ID_TIP_DOSAR", data_ng_model = "DosarFiltru.Dosar.ID_TIP_DOSAR", data_ng_init = string.Format("DosarFiltru.Dosar.ID_TIP_DOSAR = '{0}'; ID_TIP_DOSAR = '{0}';", Model.Dosar.ID_TIP_DOSAR) })
                        @Html.ValidationMessageFor(model => model.Dosar.ID_TIP_DOSAR, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.NR_IESIRE_CASCO, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Dosar.NR_IESIRE_CASCO, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_focus = "SwitchBackToSearchMode()", data_ng_keyup = "Afisare($event.target.value, $event)", data_ng_model = "DosarFiltru.Dosar.NR_IESIRE_CASCO", data_ng_init = string.Format("DosarFiltru.Dosar.NR_IESIRE_CASCO = '{0}'", Model.Dosar.NR_IESIRE_CASCO) } })
                        @Html.ValidationMessageFor(model => model.Dosar.NR_IESIRE_CASCO, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <table>
                            <tr ng-show="searchMode == 2">
                                <td class="toToDates">
                                    @Html.LabelFor(model => model.dosarJson.DataIesireCascoStart, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.dosarJson.DataIesireCascoStart, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.dosarJson.DataIesireCascoStart", data_ng_init = string.Format("DosarFiltru.dosarJson.DataIesireCascoStart = '{0}'", Model.dosarJson.DataIesireCascoStart), jqdatepicker = "" })
                                    </div>
                                </td>
                                <td>
                                    @Html.LabelFor(model => model.dosarJson.DataIesireCascoEnd, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.dosarJson.DataIesireCascoEnd, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.dosarJson.DataIesireCascoEnd", data_ng_init = string.Format("DosarFiltru.dosarJson.DataIesireCascoEnd = '{0}'", Model.dosarJson.DataIesireCascoEnd), jqdatepicker = "" })
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="searchMode == 1 || editMode == 1">
                                <td colspan="2" style="text-align:center;white-space:nowrap;padding-top:5px;">
                                    @Html.ValidationMessageFor(model => model.Dosar.DATA_IESIRE_CASCO, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.Dosar.DATA_IESIRE_CASCO, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.Dosar.DATA_IESIRE_CASCO, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.Dosar.DATA_IESIRE_CASCO", data_ng_init = Model.Dosar.DATA_IESIRE_CASCO == null ? "" : String.Format("DosarFiltru.Dosar.DATA_IESIRE_CASCO = '{0}'", Convert.ToDateTime(Model.Dosar.DATA_IESIRE_CASCO).UnixTicks()), jqdatepicker = "" })
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.NR_INTRARE_RCA, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Dosar.NR_INTRARE_RCA, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_focus = "SwitchBackToSearchMode()", data_ng_keyup = "Afisare($event.target.value, $event)", data_ng_model = "DosarFiltru.Dosar.NR_INTRARE_RCA", data_ng_init = string.Format("DosarFiltru.Dosar.NR_INTRARE_RCA = '{0}'", Model.Dosar.NR_INTRARE_RCA) } })
                        @Html.ValidationMessageFor(model => model.Dosar.NR_INTRARE_RCA, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <table>
                            <tr ng-show="searchMode == 2">
                                <td class="toToDates">
                                    @Html.LabelFor(model => model.dosarJson.DataIntrareRcaStart, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.dosarJson.DataIntrareRcaStart, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.dosarJson.DataIntrareRcaStart", data_ng_init = string.Format("DosarFiltru.dosarJson.DataIntrareRcaStart = '{0}'", Model.dosarJson.DataIntrareRcaStart), jqdatepicker = "" })
                                    </div>
                                </td>
                                <td>
                                    @Html.LabelFor(model => model.dosarJson.DataIntrareRcaEnd, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.dosarJson.DataIntrareRcaEnd, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.dosarJson.DataIntrareRcaEnd", data_ng_init = string.Format("DosarFiltru.dosarJson.DataIntrareRcaEnd = '{0}'", Model.dosarJson.DataIntrareRcaEnd), jqdatepicker = "" })
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="searchMode == 1 || editMode == 1">
                                <td colspan="2" style="text-align:center;white-space:nowrap;padding-top:5px;">
                                    @Html.ValidationMessageFor(model => model.Dosar.DATA_INTRARE_RCA, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.Dosar.DATA_INTRARE_RCA, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.Dosar.DATA_INTRARE_RCA, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.Dosar.DATA_INTRARE_RCA", data_ng_init = Model.Dosar.DATA_INTRARE_RCA == null ? "" : String.Format("DosarFiltru.Dosar.DATA_INTRARE_RCA = '{0}'", Convert.ToDateTime(Model.Dosar.DATA_INTRARE_RCA).UnixTicks()), jqdatepicker = "" })
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dosar.OBSERVATII, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Dosar.OBSERVATII, new { @class = "form-control input-sm", @style = "height:30px;", data_ng_focus = "SwitchBackToSearchMode()", data_ng_model = "DosarFiltru.Dosar.OBSERVATII", data_ng_init = string.Format("DosarFiltru.Dosar.OBSERVATII = '{0}'", Model.Dosar.OBSERVATII) })
                        @Html.ValidationMessageFor(model => model.Dosar.OBSERVATII, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group" ng-show="searchMode > 0">
                        <table>
                            <tr ng-show="searchMode == 2">
                                <td class="toToDates">
                                    @Html.LabelFor(model => model.dosarJson.DataNotificareStart, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.dosarJson.DataNotificareStart, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.dosarJson.DataNotificareStart", data_ng_init = string.Format("DosarFiltru.dosarJson.DataNotificareStart = '{0}'", Model.dosarJson.DataNotificareStart), jqdatepicker = "" })
                                    </div>
                                </td>
                                <td>
                                    @Html.LabelFor(model => model.dosarJson.DataNotificareEnd, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.dosarJson.DataNotificareEnd, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.dosarJson.DataNotificareEnd", data_ng_init = string.Format("DosarFiltru.dosarJson.DataNotificareEnd = '{0}'", Model.dosarJson.DataNotificareEnd), jqdatepicker = "" })
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="searchMode == 1 || editMode == 1">
                                <td colspan="2" style="text-align:center;white-space:nowrap;padding-top:5px;">
                                    @Html.ValidationMessageFor(model => model.Dosar.DATA_NOTIFICARE, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.Dosar.DATA_NOTIFICARE, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.Dosar.DATA_NOTIFICARE, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.Dosar.DATA_NOTIFICARE", data_ng_init = Model.Dosar.DATA_NOTIFICARE == null ? "" : String.Format("DosarFiltru.Dosar.DATA_NOTIFICARE = '{0}'", Convert.ToDateTime(Model.Dosar.DATA_NOTIFICARE).UnixTicks()), jqdatepicker = "" })
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <div ng-class="searchMode == 2 || (searchMode == 1 && (curDosarIndex == -1 || DosarFiltru.Dosar.ID == null)) ? 'badgeDosar' : DosarFiltru.Dosar.AVIZAT ? 'badgeDosarAvizat' : 'badgeDosarNeAvizat'" ng-show="searchMode > 0">
                        <!--
                        @Html.LabelFor(model => model.Dosar.AVIZAT, htmlAttributes: new { @class = "control-label" })
                        -->
                        <table>
                            <tr>
                                <td style="vertical-align:middle;">
                                    @Html.Label("Viza CASCO", new { @class = "control-label" })<br />
                                </td>
                                <td style="text-align:center;vertical-align:middle;width:30px;">
                                    @Html.CheckBoxFor(model => model.Dosar.AVIZAT, new { data_ng_model = "DosarFiltru.Dosar.AVIZAT", data_ng_init=String.Format("DosarFiltru.Dosar.AVIZAT={0}", Model.Dosar.AVIZAT.ToString().ToLower()), a_disabled= "(calitateSocietateCurenta == 'RCA' || tmpCalitateSocietate == 'RCA') || searchMode != 2" })
                                </td>
                            </tr>
                            <tr ng-show="!(searchMode == 2 || (searchMode == 1 && (curDosarIndex == -1 || DosarFiltru.Dosar.ID == null))) && DosarFiltru.Dosar.AVIZAT">
                                <td colspan="2">
                                    <h4>Dosarul este avizat!</h4>
                                </td>
                            </tr>
                            <tr ng-show="!(searchMode == 2 || (searchMode == 1 && (curDosarIndex == -1 || DosarFiltru.Dosar.ID == null))) && !DosarFiltru.Dosar.AVIZAT">
                                <td colspan="2">
                                    <h4>Dosarul nu este avizat!</h4>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @Html.ValidationMessageFor(model => model.Dosar.AVIZAT, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </table>
                        <!--
                        <span style="font-weight:bold;font-size:18px;color:darkseagreen;">{{DosarFiltru.Dosar.AVIZAT ? "&#9745;" : "&#9744;"}}</span>
                        -->
                    </div>
                </td>
                <td>
                    <div class="form-group" ng-show="searchMode > 0">
                        <table>
                            <tr ng-show="searchMode == 2">
                                <td class="toToDates">
                                    @Html.LabelFor(model => model.dosarJson.DataAvizareStart, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.dosarJson.DataAvizareStart, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.dosarJson.DataAvizareStart", data_ng_init = string.Format("DosarFiltru.dosarJson.DataAvizareStart = '{0}'", Model.dosarJson.DataAvizareStart), jqdatepicker = "" })
                                    </div>
                                </td>
                                <td>
                                    @Html.LabelFor(model => model.dosarJson.DataAvizareEnd, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.dosarJson.DataAvizareEnd, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.dosarJson.DataAvizareEnd", data_ng_init = string.Format("DosarFiltru.dosarJson.DataAvizareEnd = '{0}'", Model.dosarJson.DataAvizareEnd), jqdatepicker = "" })
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="searchMode == 1 || editMode == 1">
                                <td colspan="2" style="text-align:center;white-space:nowrap;padding-top:5px;">
                                    @Html.ValidationMessageFor(model => model.Dosar.DATA_AVIZARE, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.Dosar.DATA_AVIZARE, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.Dosar.DATA_AVIZARE, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.Dosar.DATA_AVIZARE", data_ng_init = Model.Dosar.DATA_AVIZARE == null ? "" : String.Format("DosarFiltru.Dosar.DATA_AVIZARE = '{0}'", Convert.ToDateTime(Model.Dosar.DATA_AVIZARE).UnixTicks()), jqdatepicker = "" })
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
            </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group" ng-show="searchMode > 0">
                        <table>
                            <tr ng-show="searchMode == 2">
                                <td class="toToDates">
                                    @Html.LabelFor(model => model.dosarJson.DataCreareStart, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.dosarJson.DataCreareStart, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.dosarJson.DataCreareStart", data_ng_init = string.Format("DosarFiltru.dosarJson.DataCreareStart = '{0}'", Model.dosarJson.DataCreareStart), jqdatepicker = "" })
                                    </div>
                                </td>
                                <td>
                                    @Html.LabelFor(model => model.dosarJson.DataCreareEnd, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.dosarJson.DataCreareEnd, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.dosarJson.DataCreareEnd", data_ng_init = string.Format("DosarFiltru.dosarJson.DataCreareEnd = '{0}'", Model.dosarJson.DataCreareEnd), jqdatepicker = "" })
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="searchMode == 1 || editMode == 1">
                                <td colspan="2" style="text-align:center;white-space:nowrap;padding-top:5px;">
                                    @Html.ValidationMessageFor(model => model.Dosar.DATA_CREARE, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.Dosar.DATA_CREARE, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.Dosar.DATA_CREARE, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.Dosar.DATA_CREARE", data_ng_init = Model.Dosar.DATA_CREARE == null ? "" : String.Format("DosarFiltru.Dosar.DATA_CREARE = '{0}'", Convert.ToDateTime(Model.Dosar.DATA_CREARE).UnixTicks()), jqdatepicker = "" })
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <div class="form-group" ng-show="searchMode > 0">
                        <table>
                            <tr ng-show="searchMode == 2">
                                <td class="toToDates">
                                    @Html.LabelFor(model => model.dosarJson.DataUltimeiModificariStart, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.dosarJson.DataUltimeiModificariStart, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.dosarJson.DataUltimeiModificariStart", data_ng_init = string.Format("DosarFiltru.dosarJson.DataUltimeiModificariStart = '{0}'", Model.dosarJson.DataUltimeiModificariStart), jqdatepicker = "" })
                                    </div>
                                </td>
                                <td>
                                    @Html.LabelFor(model => model.dosarJson.DataUltimeiModificariEnd, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.dosarJson.DataUltimeiModificariEnd, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.dosarJson.DataUltimeiModificariEnd", data_ng_init = string.Format("DosarFiltru.dosarJson.DataUltimeiModificariEnd = '{0}'", Model.dosarJson.DataUltimeiModificariEnd), jqdatepicker = "" })
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="searchMode == 1 || editMode == 1">
                                <td colspan="2" style="text-align:center;white-space:nowrap;padding-top:5px;">
                                    @Html.ValidationMessageFor(model => model.Dosar.DATA_ULTIMEI_MODIFICARI, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.Dosar.DATA_ULTIMEI_MODIFICARI, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.Dosar.DATA_ULTIMEI_MODIFICARI, new { @class = "form-control input-sm", @readonly = "readonly", @style = "width:100px;", data_ng_model = "DosarFiltru.Dosar.DATA_ULTIMEI_MODIFICARI", data_ng_init = Model.Dosar.DATA_ULTIMEI_MODIFICARI == null ? "" : String.Format("DosarFiltru.Dosar.DATA_ULTIMEI_MODIFICARI = '{0}'", Convert.ToDateTime(Model.Dosar.DATA_ULTIMEI_MODIFICARI).UnixTicks()), jqdatepicker = "" })
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4" style="text-align:center;">
                    <div class="btn-toolbar" style="text-align:center;">
                        <div class="btn-group">
                            <div style="width:100%;text-align:center;">&nbsp;</div>
                            <!--
                            <a href="#" class="btn btn-default" ng-show="false" ng-disabled="searchMode > 0 || editMode == 1">Cautare</a>
                            @if (Helpers.HasRight("adaugare"))
                            {
                                <a href="#" class="btn btn-default" ng-show="cacatudraqu == 'CASCO'" a-disabled="searchMode == 2 || editMode == 1 || cacatudraqu != 'CASCO'" ng-click = "EnterAddMode()">Adaugare</a>
                            }
                            -->
                            @Html.Label("Adaugare", new { @class = "btn btn-default", data_ng_if = "cacatudraqu == 'CASCO'", a_disabled = "searchMode == 2 || editMode == 1 || cacatudraqu != 'CASCO'", data_ng_click = "EnterAddMode()" }).HasRight("adaugare")
                            @Html.Label("Editare", new { @class = "btn btn-default", data_ng_if = "cacatudraqu == 'CASCO'", a_disabled = "(searchMode == 2 || cacatudraqu != 'CASCO' || (DosarFiltru == null || DosarFiltru.Dosar == null || compareObjects(DosarFiltru.Dosar, {}) || DosarFiltru.Dosar.ID == undefined || DosarFiltru.Dosar.ID == '')) || editMode == 1", data_ng_click = "EnterEditMode()" }).HasRight("modificare")
                            @Html.Label("Stergere", new { @class = "btn btn-default", data_ng_if = "cacatudraqu == 'CASCO'", a_disabled = "(searchMode == 2 || cacatudraqu != 'CASCO' || (DosarFiltru == null || DosarFiltru.Dosar == null || compareObjects(DosarFiltru.Dosar, {}) || DosarFiltru.Dosar.ID == undefined || DosarFiltru.Dosar.ID == '')) || editMode == 1" }).HasRight("stergere")

                            <div a_disabled="!validForAvizare" class="btn-group">
                                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" a-disabled="(searchMode == 2 || (DosarFiltru == null || DosarFiltru.Dosar == null || compareObjects(DosarFiltru.Dosar, {}) || DosarFiltru.Dosar.ID == undefined || DosarFiltru.Dosar.ID == '')) || editMode == 1">
                                    Optiuni
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.Label("Avizare", new { @class = "label_a", data_ng_show = "cacatudraqu == 'CASCO'", data_ng_click = "AvizareDosar()" }).HasRight("avizare dosar")</li>
                                    <li ng-show="DosarFiltru.Dosar.AVIZAT"><a href="#" ng-click="TiparireDosar()">Tiparire</a></li>
                                    <li ng-show="DosarFiltru.Dosar.AVIZAT"><a href="#">Email</a></li>
                                </ul>
                            </div>
                            
                        </div>

                        <div class="btn-group" ng-show="searchMode > 0">
                            <div ng-show="searchMode > 0" style="width:100%;text-align:center;">{{DosarFiltru.DosareResult == null || compareObjects(DosarFiltru.DosareResult, {}) ? 0 : DosarFiltru.DosareResult.length}} inregistrari gasite</div>
                            <a href="#" class="btn btn-default" title="Navigare la primul dosar" ng-click="firstDosar()">|&lt;</a>
                            <a href="#" class="btn btn-default" title="Navigare la dosarul anterior" ng-click="prevDosar()">&lt;</a>
                            <a href="#" class="btn btn-default" title="Afisare campuri filtru activ" ng-click="SwitchBackToSearchMode()">&yen;</a>
                            <a href="#" class="btn btn-default" title="Anulare filtre active" ng-click="ClearFilters()">&Chi;</a>
                            <a href="#" class="btn btn-default" title="Afisare lista dosare gasite" onclick="showDosareSideNav(true)">&equiv;</a>
                            <a href="#" class="btn btn-default" title="Navigare la dosarul urmator" ng-click="nextDosar()">&gt;</a>
                            <a href="#" class="btn btn-default" title="Navigare la ultimul dosar" ng-click="lastDosar()">&gt;|</a>
                        </div>

                        <div class="btn-group" ng-show="searchMode == 0 && editMode == 1">
                            <div style="width:100%;text-align:center;">&nbsp;</div>
                            <a href="#" class="btn btn-default" ng-click="SaveEdit()">Salveaza</a>
                            <a href="#" class="btn btn-default" ng-click="CancelEdit()">Renunta</a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        @Html.TextBoxFor(model => model.Dosar.ID, new { @style = "display:none;", data_ng_model = "DosarFiltru.Dosar.ID", data_ng_init = ViewContext.RouteData.Values["id"] == null ? "" : String.Format("SetId({0})", Model.Dosar.ID) })
    </div>
}