@model socisaWeb.DashboardJson
<div>
    <ul class="list-group">
        @foreach (var property in ViewData.ModelMetadata.Properties)
        {
            <li class="list-group-item">
                <span class="badge">@Html.Display(property.PropertyName)</span>
                @(property.DisplayName ?? property.PropertyName)
            </li>
        }

        <!--
        <li class="list-group-item" ng-repeat="(key, value) in model">
            <span class="badge">@Html.DisplayFor(model => model.DOSARE_TOTAL)</span>
            @Html.DisplayNameFor(model => model.DOSARE_TOTAL)
        </li>
        <li class="list-group-item">
            <span class="badge">@Html.DisplayFor(model => model.DOSARE_FROM_LAST_LOGIN)</span>
            @Html.DisplayNameFor(model => model.DOSARE_FROM_LAST_LOGIN)
        </li>
        <li class="list-group-item">
            <span class="badge">@Html.DisplayFor(model => model.MESAJE_NOI)</span>
            @Html.DisplayNameFor(model => model.MESAJE_NOI)
        </li>
        -->
    </ul>
</div>
