@model socisaWeb.DashboardJson
<div>
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge">@Html.DisplayFor(model => model.DOSARE_TOTAL)</span>
            @Html.DisplayNameFor(model => model.DOSARE_TOTAL)
        </li>
        <li class="list-group-item">
            <span class="badge">@Html.DisplayFor(model => model.DOSARE_FROM_LAST_LOGIN)</span>
            @Html.DisplayNameFor(model => model.DOSARE_FROM_LAST_LOGIN)
        </li>
        <li class="list-group-item">
            <span class="badge">@Html.DisplayFor(model => model.MESAJE_NOI)</span>
            @Html.DisplayNameFor(model => model.MESAJE_NOI)
        </li>
    </ul>
</div>
