<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--
    <meta name='viewport' content='width=1920'>
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Sistem de Compensare intre Asiguratori - @ViewBag.Title</title>
    @Styles.Render("~/Content/AllStyles")
    @Scripts.Render("~/Scripts/AllScripts")
</head>
<body onload="openNav(); setRequiredFields();" ng-app="SocisaApp">
    @Html.Partial("_PartialHeaderNavBar")

    @if (Session["CURENT_USER_ID"] != null && Session["ID_SOCIETATE"] != null)
    {
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            @{
                Html.RenderAction("Index", "Actions");
            }
        </div>
    }

    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
    @RenderBody()

    @if (Session["CURENT_USER_ID"] != null && Session["ID_SOCIETATE"] != null)
    {
        <div class="sidenavRight">
        @{
            Html.RenderAction("Index", "Dashboard");
        }
        </div>
    }

    @RenderSection("scripts", required: false)
    @Html.Partial("_PartialFooter")


</body>
</html>